SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.Android/bin/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.Android/obj/
SharedProjectDemo/.vs/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.iOS/bin/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.iOS/obj/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo/obj/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo/bin/
XamarinInteligente/.vs/
XamarinInteligente/XamarinInteligente/XamarinInteligente.Android/bin/
XamarinInteligente/XamarinInteligente/XamarinInteligente.Android/obj/
XamarinInteligente/XamarinInteligente/XamarinInteligente.iOS/bin/
XamarinInteligente/XamarinInteligente/XamarinInteligente.iOS/obj/
XamarinInteligente/XamarinInteligente/XamarinInteligente/bin/
XamarinInteligente/XamarinInteligente/XamarinInteligente/obj/
XamarinInteligente/XamarinInteligente/XamarinInteligente.Android/lp/
