SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.Android/bin/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.Android/obj/
SharedProjectDemo/.vs/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.iOS/bin/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo.iOS/obj/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo/obj/
SharedProjectDemo/SharedProjectDemo/SharedProjectDemo/bin/
